In [7]:
# Let's listify the contents
what_were_covering = [
    "0. An end-to-end Scikit-Learn workflow",
    "1. Getting the data ready",
    "2. Choose the right estimator/algorithm for our problems",
    "3. Fit the model/algorithm and use it to make predictions on our data",
    "4. Evaluating a model",
    "5. Improve a model",
    "6. Save and load a trained model",
    "7. Putting it all together!"]

In [8]:
what_were_covering

['0. An end-to-end Scikit-Learn workflow',
 '1. Getting the data ready',
 '2. Choose the right estimator/algorithm for our problems',
 '3. Fit the model/algorithm and use it to make predictions on our data',
 '4. Evaluating a model',
 '5. Improve a model',
 '6. Save and load a trained model',
 '7. Putting it all together!']

# 0. An end-to-end Scikit-Learn workflow

In [9]:
# Standard imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [14]:
# 1. Get the data
import pandas as pd
heart_disease = pd.read_csv("heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [15]:
# Create X (features matrix) - Only want all the columns aside from the last one (target)
X = heart_disease.drop("target", axis=1)

# Create y (labels) - Only want the last column (target)
y = heart_disease["target"]

In [16]:
# 2. Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100)

# Display possible parameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [17]:
# 3. Fit the model to the training data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [18]:
clf.fit(X_train, y_train);

In [19]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
272,67,1,0,120,237,0,1,71,0,1.0,1,0,2
15,50,0,2,120,219,0,1,158,0,1.6,1,0,2
66,51,1,2,100,222,0,1,143,1,1.2,1,0,2
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2
123,54,0,2,108,267,0,0,167,0,0.0,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,55,0,0,180,327,0,2,117,1,3.4,1,0,2
218,65,1,0,135,254,0,0,127,0,2.8,1,1,3
283,40,1,0,152,223,0,1,181,0,0.0,2,0,3
195,59,1,0,170,326,0,0,140,1,3.4,0,0,3
240,70,1,2,160,269,0,1,112,1,2.9,1,1,3

In [21]:
# Make predictions

y_preds = clf.predict(X_test)
y_preds

array([1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0], dtype=int64)

In [22]:
y_test

154    1
57     1
80     1
288    0
235    0
      ..
56     1
248    0
257    0
14     1
193    0
Name: target, Length: 61, dtype: int64

In [23]:
# 4. Evaluate the model on the training data and test data

clf.score(X_train, y_train)

1.0

In [24]:
clf.score(X_test, y_test)

0.8360655737704918

In [25]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.95      0.70      0.81        30
           1       0.77      0.97      0.86        31

    accuracy                           0.84        61
   macro avg       0.86      0.83      0.83        61
weighted avg       0.86      0.84      0.83        61

In [26]:
confusion_matrix(y_test, y_preds)

array([[21,  9],
       [ 1, 30]], dtype=int64)

In [27]:
accuracy_score(y_test, y_preds)

0.8360655737704918

In [28]:
# 5. Improve the model

# Try different amount of n_estimators
np.random.seed(42)
for i in range(10, 100, 10):
    print(f"Trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f"Model accuracy on test set: {clf.score(X_test, y_test) * 100:.2f}%")
    print("")

Trying model with 10 estimators...
Model accuracy on test set: 83.61%

Trying model with 20 estimators...
Model accuracy on test set: 85.25%

Trying model with 30 estimators...
Model accuracy on test set: 83.61%

Trying model with 40 estimators...
Model accuracy on test set: 83.61%

Trying model with 50 estimators...
Model accuracy on test set: 83.61%

Trying model with 60 estimators...
Model accuracy on test set: 85.25%

Trying model with 70 estimators...
Model accuracy on test set: 83.61%

Trying model with 80 estimators...
Model accuracy on test set: 81.97%

Trying model with 90 estimators...
Model accuracy on test set: 85.25%

In [29]:
# 6. Save a model and load it using pickle 
import pickle

pickle.dump(clf, open("random_forst_model_1.pkl", "wb"))

In [31]:
loaded_model = pickle.load(open("random_forst_model_1.pkl", "rb"))
loaded_model.score(X_test, y_test)

0.8524590163934426

# 1. Getting our data ready to be used with machine learning
#### Three main things we have to do: 
#### 1. Split the data into features and labels (usually X & y) 
#### 2. Filling (also called imputing) or disregarding missing values 
#### 3. Converting non-numerical values to numerical values (also called feature encoding)